# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Bower dependency directory
bower_components/

# Build directory
/build/

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db
